

.for-you-page-content
{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    height: 36rem;
    width: 80%;

    margin: 3%;

}


.fyp-post-info
{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    height: 3rem;
    width: 40%;


}

.fyp-username-link
{


    font-weight: 700;

}

.fyp-post-date
{


    color: gray;

}


.fyp-post-cover
{   
    width: 40%;


    display: flex;
    justify-content: center;
   
   
}

.fyp-post-cover-image
{
    width: 100%;
    height: 30rem;

    overflow: hidden;
    
    border-radius: 1rem;
    transition: opacity 0.3s, scale 0.3s;
 
}

.fyp-post-cover-image:hover
{
    scale: 101%;
    opacity: 98%;
}

.fyp-post-description
{   

    display: flex;
    justify-content: center;
    align-items: flex-end;
   
    
    width: 40%;
    height: 3rem;

}