
<div class="for-you-page-content">

    <div class="fyp-post-info">

        <a href="{% url 'user-profile' post.owner.username %}" class = "fyp-username-link">

                @{{ post.owner.username }}

        </a>

        <p class = "fyp-post-date" >

            {{ post.created | timesince }}

        </p>
        

    </div>

    <a href = "{% url 'post' post.id %}" class="fyp-post-cover">

        <img src="{{ post.cover.url }}" alt="" srcset="" class = "fyp-post-cover-image">

    </a>

    <div class="fyp-post-description">

        {{ post.description }}

    </div>

    <div class="fyp-comments">

        {% with my_var=post.comment_set.all|slice:":2" %}
       
        {% for comment in my_var %}

            <div class = "fyp-comment">
                
                <div class="comment-username-and-date">
                    
                    <div class="comment-username">

                        {{ comment.owner.username }}

                    </div>

                    <div class="comment-date">

                        {{ comment.created | timesince }}

                    </div>

                </div>

                <div class="comment-content">
                    
                    {{ comment.body | slice:":50" }}

                </div>

            </div>

        {% endfor %}


        {% endwith %}


    </div>


    
 
</div>