.navbar
{

    display: flex;
    flex-direction: column;

    align-content: center;
   


    width: 96%;
    height: 97%;

    margin-left: 3%;
    margin-top: 3%;

    border-radius: 1rem; 
    
    background-color: black;  
}