<!DOCTYPE html>
<html lang="en">


    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>


        <!-- Font Roboto -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    </head>

    <style>

        *,
        *::after,
        *::before
        {
            box-sizing: border-box;

            padding: 0;
            margin: 0;
        }

        .main-wrapper
        {

            display: grid;

            font-family: 'Roboto', sans-serif;

        }

 
    </style>


    <body>

        <div class = "main-wrapper">


            {% include 'navigation-bar.html' %}

          
            <div class="content-wrapper">

                {% block content %}


                {% endblock content %}

            </div>


        </div>

        
    </body>

</html>