<style>

    .user-info-content
    {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        width: 100%;
        height: 100%;

        background-color: black;
        color: white;
        border-radius:  0 1rem 1rem 0; 
        font-size: 1.3rem;

    }

    .username-item
    {
        padding: 1.1rem;
        font-weight: 700;
        background-color: rgb(182, 172, 186);
        border-radius: 1rem;
        color: white;
        transition: padding 0.3s, color 0.3s;
    }

    .username-item:hover
    {
        padding: 1.3rem;
        cursor: pointer;
        color: black;
    }


    .logout-item
    {

        padding: 1rem;
        color: white;
        border-radius: 1rem;

        transition: padding 0.3s, background-color 0.3s, color 0.3s;
    }

    .logout-item:hover
    {
        cursor: pointer;
        padding: 1.2rem;
        background-color: white;
        color: black;

    }


</style>


<div class="user-info-content">

    {% if request.user.is_authenticated %}


    <a href = "{% url 'user-profile' request.user.username %}">
        <div class = "username-item">
    
                @{{ request.user.username }}

        </div>
    </a>


    <a href = "{% url 'logout' %}">

        <div class = "logout-item">   
                
                Logout

        </div>

    </a>

    {% else %}


    <a href = "{% url 'login' %}">
        <div class = "logout-item">
            
                Login | Register

        </div>
    </a>

    {% endif %}

    {% include 'navigation-bar.html' %}

</div>