{% extends 'main.html' %}


{% block static %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'base/home.css' %}">

{% endblock static %}

{% block content %}

 

    <div class = "home-wrapper ">


        <div class="content-navbar">

                <div class="content-navbar-item">

                    <a href = "{% url 'home' %}">

                        for you

                    </a>
                    

                </div>


                <div class="content-navbar-item">

                    <a href= "{% url 'explore' %}">

                        explore

                    </a>
                    
                    
                </div>

                
                <div class="content-navbar-item create">

                    <a href= "{% url 'create' %}">

                        create

                    </a>
                    
                    
                </div>

        </div>

        <div class = "for-you-wrapper">

            {% for post_item in following_posts %}

                <div class="post-item">

                    <p>@{{ post_item.owner.username }}</p>

                    <p>{{ post_item.description }}</p>


                </div>

            {% endfor %}


        </div>

            
    </div>

{% endblock content %}