{% extends 'main.html' %}


{% block static %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'base/home.css' %}">
    <link rel="stylesheet" href="{% static 'base/components/base-navbar-component.css' %}">
    <link rel="stylesheet" href="{% static 'base/components/for-you-page-component.css' %}">

{% endblock static %}

{% block content %}

 

    <div class = "home-wrapper ">

        {% include 'base/components/base-navbar-component.html' %}


        
            
            {% for post in following_posts %}

            
                {% include 'base/components/for-you-page-component.html' %}
          

            {% endfor %}
        
        
      
        
    </div>

{% endblock content %}