{% extends 'main.html' %}


{% block static %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'base/update-text.css' %}">

{% endblock static %}


{% block content %}


    <div class="update-post-section">


        <div class="update-description">


            <form action="" method="post">
                
                {% csrf_token %}
                <input type="text" placeholder="enter new text..." name = "text">

            </form>


        </div>


    </div>


{% endblock content %}